
#register-dialog {
  /*visibility: hidden;*/
}

#register-dialog .credential-validation {
  color: red;
  height: 20px;
}

#register-dialog table, #register-dialog tr, #register-dialog td {
  border: none;
  margin: 0;
  padding: 0;
}
#register-dialog table {
  width: 100%;
}

#register-dialog input {
  margin: 0;
}

#register-dialog td {
  width: 0;
}

.ui-dialog {
  font-size: 1em;
}

.ui-dialog-buttonset {
  margin-right: 14px;
}

#register-success-text {
  color: #00aa00;
  max-width: 270px;
  margin-top: 8px;
  margin-left: 13px;
  display: inline-block;
}